<%- include("template/cabecera", { tituloWeb: 'Detalle de mascota' }) %>
<body>
    <div class="container">
        <h1>Detalle de mascota</h1>

        <% if (error) { %>
            <p>
                <%= mensaje %>
            </p>
            <a href="/mascotas" class="btn btn-dark btn-block">Volver a Mascotas</a>
        <% } %>

        <% if (!error) { %>
            <!--
                <form id="formularioEditar" data-id="<%= mascota.id %>">
                    <input type="text" class="form-control my-2" name="nombre" id="nombreInput" value="<%= mascota.nombre %>">
                    <input type="text" class="form-control my-2" name="descripcion" id="descripcionInput" value="<%= mascota.descripcion %>">
                    <button class="btn btn-warning btn-block" type="submit">Editar</button>
                </form>
            -->
            <form id="formularioEditar" data-id="<%= mascota.id %>">
                <input 
                    type="text"
                    class="form-control my-2"
                    name="nombre"
                    value="<%= mascota.nombre %>"
                    id="nombreInput"
                >
                <input 
                    type="text"
                    class="form-control my-2"
                    name="descripcion"
                    value="<%= mascota.descripcion %>"
                    id="descripcionInput"
                >
                <button
                    class="btn btn-warning btn-block"
                    type="submit"
                >
                    Editar
                </button>
            </form>
            <hr>

            <button class="btn btn-danger btn-sm btn-sm mt-5" id="btnEliminar" data-id="<%= mascota.id %>">
                Eliminar
            </button>

        <% } %>
    </div>
    <!-- LINK FOOTER -->
    <%- include("template/footer") %>
    <script>
        // Configuramos evento QuerySelector en los botones de eliminar
        const btnEliminar = document.querySelector('#btnEliminar');

        // Evento de escucha para los botones de eliminar
        btnEliminar.addEventListener('click', async () => {
            // console.log('me diste click');
            
            // Obtenemos el data-id del bot贸n al cual se dio click 
            const id = btnEliminar.dataset.id;
            
            try {
                // Generamos petici贸n await para eliminar mascota
                const data = await fetch(`/mascotas/${id}`, {
                    method: 'delete'
                });

                // Obtenemos la respuesta enviada desde el servidor
                const resp = await data.json();

                console.log(resp);

                if(resp.estado) {
                    window.location.href = '/mascotas';
                } else {
                    console.log(resp);
                }
            } catch (error) {
                console.log('error - Eliminar Mascota');
                console.log(error);
            }
        });

        // Configuramos evento para eventos submit dentro del formulario actualizar
        const formularioEditar = document.querySelector('#formularioEditar');

        // Evento de escucha para el bot贸n submit
        formularioEditar.addEventListener('submit', async (e) => {
            e.preventDefault();

            // Recuperamos campos necesarios
            
            const nombre = formularioEditar.elements['nombre'].value;
            const descripcion = document.querySelector('#descripcionInput').value;
            const id = formularioEditar.dataset.id;

            // console.log(nombre, descripcion, id);
            try {
                const data = await fetch(`/mascotas/${id}`, {
                    method: 'put',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ nombre, descripcion })
                })
                const resp = await data.json()

                console.log(resp);
                
                if(resp.estado){
                    window.location.href = '/mascotas'
                } else {
                    console.log(res)
                }
            } catch (error) {
                console.log('error - actualizaci贸n');
                console.log(error)
            }
        });
    </script>